<h1 class="text-decoration-underline">Login</h1>

<%= form_with url: "/sessions" do |form| %>
  
  <p class = "mb-3">
    <%= form.label "email" %>
    <%= form.text_field "email", class: "form-control" %>

    <%= form.label "password" %>
    <%= form.password_field "password", class: "form-control" %>
  </p>

  <p class = "mb-3">
    <%= form.submit "Submit", class: "btn btn-primary btn-sm" %>
  </p>
<% end %>